---
title: style.css
---

{% assign base03 = "#002b36" %}
{% assign base02 = "#073642" %}
{% assign base01 = "#586e75" %}
{% assign base00 = "#657b83" %}
{% assign base0 = "#839496" %}
{% assign base1 = "#93a1a1" %}
{% assign base2 = "#eee8d5" %}
{% assign base3 = "#fdf6e3" %}
{% assign yellow = "#b58900" %}
{% assign orange = "#cb4b16" %}
{% assign red = "#dc322f" %}
{% assign magenta = "#d33682" %}
{% assign violet = "#6c71c4" %}
{% assign blue = "#268bd2" %}
{% assign cyan = "#2aa198" %}
{% assign green = "#859900" %}

{% assign background_color = base3 %}
{% assign background_em_color = base2 %}

body {
    color: {{ base00 }};
    font-size: 12pt;
    font-family: Arial, Verdana, Helvetica, sans serif;
    margin: 0;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    margin-left: -0.4em;
    padding-left: 0.4em;
    margin-right: -0.4em;
    padding-right: 0.4em;
    margin-top: -0.2em;
    padding-top: 0.2em;
    margin-bottom: -0.2em;
    padding-bottom: 0.2em;
}

a:hover {
	background-color: lightblue;
}

a:link {
    color: darkblue;
}

a:visited {
    color: darkblue;
}

.header {
/*    background-color: lightgrey; */
    padding-top: 2em;
    padding-bottom: 0;
}

.header h1 {
    margin: 0;
    color: {{ base00 }};
}

.about {
    float: right;
    margin: 1em;
    padding: 1em;
    background-color: lightgrey;
    display: inline-block;
}

h2 {
    margin-bottom: 1em;
    color: {{ base00 }};
}

.content_container {
    padding-top: 2em;
    background-color: {{ background_color }};
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

.content .article {
    padding-bottom: 2em;
}

.left_spaced {
	margin-left: 1em;
}

.timestamp {
    color: gray;
}

.comments {
}

/* Info block */

.info_mini_container {
    padding-top: 0em;
    padding-bottom: 0em;
    width: 100%;
    background-color: lightgrey;
}

.info_container {
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
    background-color: {{ background_em_color }};
}

.info {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

.info h2 {
	margin: 0;
}

.myself {
	max-width: 30em;
	padding-right: 2em;
}

.photo-placeholder {
	width: 100px; 
	height: 100px; 
	background-color: darkgrey; 
	display: block; 
	float: left; 
	margin-right: 1em; 
	margin-bottom: 1em;
	padding: 0.5em;
}

pre {
	font-size: 10pt;
	line-height: 1.5em;
	background-color: {{ background_em_color }};
}

code {
	font-size: 10pt;
	background-color: {{ background_em_color }};
}

.python .k, .python .kn
{
	color: darkblue;
}
