/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

body {
    background-color: #002b36;
    font-size: 12pt;
    font-family: Arial, Verdana, Helvetica, sans serif;
    margin: 0;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    margin-left: -0.4em;
    padding-left: 0.4em;
    margin-right: -0.4em;
    padding-right: 0.4em;
    margin-top: -0.2em;
    padding-top: 0.2em;
    margin-bottom: -0.2em;
    padding-bottom: 0.2em;
}

a:hover {
	background-color: lightblue;
}

a:link {
    color: darkblue;
}

a:visited {
    color: darkblue;
}

.header {
/*    background-color: lightgrey; */
    padding-top: 2em;
    padding-bottom: 0;
}

.header h1 {
    margin: 0;
}

.about {
    float: right;
    margin: 1em;
    padding: 1em;
    background-color: lightgrey;
    display: inline-block;
}

h2 {
    margin-bottom: 1em;
}

.content_container {
    padding-top: 2em;
/*    margin-top: 2em; */
    background-color: #fdf6e3;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    /*padding-left: 2em;*/
    /*padding-right: 2em;*/
    /*padding-top: 1em;*/	
/*    background-color: lightblue; */
}

.content .article {
    padding-bottom: 2em;
}

.left_spaced {
	margin-left: 1em;
}

.timestamp {
    color: gray;
}

.comments {
}

/* Info block */

.info_mini_container {
    padding-top: 0em;
    padding-bottom: 0em;
    width: 100%;
    background-color: lightgrey;
}

.info_container {
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
    background-color: #002b36;
}

.info {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

.info h2 {
	margin: 0;
}

.myself {
	max-width: 30em;
	padding-right: 2em;
}

.photo-placeholder {
	width: 100px; 
	height: 100px; 
	background-color: darkgrey; 
	display: block; 
	float: left; 
	margin-right: 1em; 
	margin-bottom: 1em;
	padding: 0.5em;
}

pre {
	font-size: 10pt;
	line-height: 1.5em;
	background-color: lightgray;
}

code {
	font-size: 10pt;
	background-color: lightgray;
}

.python .k, .python .kn
{
	color: darkblue;
}
