<div class="info_container">
    <div class="info">
        <table width="100%" border="0"><tr>
            <td width="60%" valign="top">
                <div class="myself">
                    <div class="photo-placeholder"></div>
                    <h2><a href="/">elephantum's dev blog</a></h2>
                    <p>Technical stuff by <a href="http://ie.linkedin.com/in/elephantum">me</a>.</p>
                </div>
            </td>
            <td width="40%" valign="top">
            </td>
        </tr></table>
    </div>
</div>
